.user-bonuses-info h2 {
    margin-top: 0;
}
.account-menu {
    display: block;
    padding: 0 0;
    margin-bottom: 1.5rem;
}
.account-menu a {
    margin-right: 15px;
}
.account-menu a.active {
    color: black;
}
.account-menu a.btn.btn--action {
    padding: 7px 21px !important;
}
.account--user-order {
    border: 1px solid #f1f1f1;
    font-size: 15px;
    padding: 25px 25px 75px;
    border-radius: 10px;
    transition: 0.5s;
    backface-visibility: hidden;
    height: 100%;
    position: relative;
    background-color: white;
}

.account--user-order--header,
.account--user-order--delivery {
    display: flex;
    justify-content: space-between;
}
.account--user-order--time {
    color: #aaa;
    font-size: 13px;
}

.account--user-order--status {
    color: var(--main-color);
}

.account--user-order--delivery {
    margin-top: 5px;
}
.account--user-order--delivery-type {
    color: var(--main-color);
}
.account--user-order--delivery-address {
    margin-left: 10px;
    text-align: right;
}
.account--user-order--products {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 15px 0 15px 0;
}
.account--user-order--product {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}
.account--user-order--product-name {
    margin-right: 10px;
}
.account--user-order--product-modificators {
    font-size: 12px;
    line-height: 1;
    color: #aaaaaa;
    display: flex;
    flex-wrap: wrap;
}
.account--user-order--product-modificator {
    white-space: nowrap;
}
.account--user-order--product-price {
    white-space: nowrap;
}
.account--user-order--product-price .default-price {
    text-decoration: line-through;
    margin-right: 5px;
}
.account--user-order--product-price .default-price {
    color: var(--main-color);
}
.account--user-order--promocode {
    display: flex;
    justify-content: space-between;
}
.account--user-order--auto-discount {
    display: flex;
    justify-content: space-between;
}

.account--user-order--auto-discount .auto-discount-name {
    display: flex;
    align-items: center;
}

.account--user-order--auto-discount .auto-discount-name span {
    margin-right: 4px;
}

.account--user-order--auto-discount .auto-discount-name svg {
    width: 0.75em;
    height: 0.75em;
}

.account--user-order--auto-discount .auto-discount-name svg:hover {
    color: var(--main-color);
}
.account--user-order--subtotal {
    display: flex;
    justify-content: space-between;
}
.account--user-order .repeat-order {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    text-transform: none;
}
.account--user-order--product-toggle-more {
    text-align: right;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
}

.account--user-order--total-delivery,
.account--user-order--total-amount {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.user-order-skeleton {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
}
.deleting-account {
    margin-top: 15px;
    font-size: 14px;
}

.deleting-account .btn--delete-account {
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--main-color);
    font-size: inherit;
}

.account-separator {
    margin-top: 30px;
    border: 0;
    border-top: 1px solid #ccc;
}

.btn--auth {
    display: inline;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--main-color);
    font-size: inherit;
}

@media (max-width: 320px) {
    .button-group {
        display: flex;
        flex-direction: column;
    }
    .button-group a {
        text-align: center;
    }
    .button-group a,
    .button-group button {
        margin-left: 0;
        margin-right: 0;
    }
    .button-group a:not(:first-child) {
        margin-top: 10px;
    }

    .button-group button:not(:first-child) {
        margin-top: 10px;
    }
}

.account--tab-list {
    overflow: visible !important;
}

.account--tab-list .MuiTabs-scroller {
    overflow: visible !important;
}

.account--tab-list .MuiTabs-indicator {
    display: none;
}

.account--tab-list .Mui-selected {
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    clip-path: inset(-50px -56px 0px -73px);
}

@media (max-width: 370px) {
    .account--tab-list .Mui-selected {
        box-shadow: none;
    }
    .account--tab-list .MuiTabs-scroller {
        overflow: auto !important;
        margin-right: 10px;
    }
}
