.contacts--block {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    padding: 25px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;
    background-color: white;
}
.contacts--block:last-child {
    margin-bottom: 0;
}
.contacts--map {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
    height: 400px;
}

.contacts--main-address,
.contacts--main-phone,
.contacts--email,
.contacts--vk,
.contacts--fb,
.contacts--instagram,
.contacts--ok {
    margin-top: 10px;
}
.contacts--main-address svg,
.contacts--main-phone svg,
.contacts--vk svg,
.contacts--fb svg,
.contacts--instagram svg,
.contacts--ok svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    vertical-align: middle;
    color: #555;
}

.contacts--email svg {
    width: 22px;
    height: 19px;
    margin-right: 10px;
    vertical-align: middle;
    color: #555;
}
.contacts--today-work {
    font-size: 16px;
}
.today-work--status {
    font-size: 13px;
    margin-top: 5px;
    color: red;
}
.today-work--status.open {
    color: green;
}

.contacts--adress {
    font-size: 16px;
}

.contacts--adress svg {
    width: 19px;
    height: 19px;
    margin-right: 10px;
    vertical-align: middle;
    color: #555;
}

.contacts--adress .contacts--phone,
.contacts--adress .contacts--schedule {
    margin-top: 6px;
}

.contacts-zones-info--zones-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
}

.contacts-zones-info:not(:last-child) {
    margin-bottom: 32px;
}

.contacts-zones-info--zone {
    flex-basis: 50%;
}

.contacts-zones-info--zone:not(:last-child) {
    margin-bottom: 24px;
}

.contacts-zones-info--zone .zone-inner-wrapper {
    margin-left: 16px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.contacts-zones-info--zone .zone-header {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    font-weight: 700;
}
.contacts-zones-info--zone .zone-color {
    flex-shrink: 0;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.contacts-zones-info--zone .zone-body {
    margin-left: 28px;
    display: flex;
}

.contacts-zones-info--zone .zone-body--col-title {
    margin-bottom: 4px;
    width: min-content;
    color: #aaa;
    font-size: 14px;
}

.contacts-zones-info--zone .zone-body--col-value {
    font-weight: 700;
}

.contacts-zones-info--zone .zone-body hr:first-child {
    display: none;
}

@media (min-width: 899px) and (max-width: 1200px) {
    .contacts-zones-info--zones-container {
        flex-direction: column;
        width: fit-content;
    }
}

@media (max-width: 899px) {
    .contacts-zones-info--zone {
        flex-basis: 100%;
    }
}

@media (max-width: 370px) {
    .contacts-zones-info--zone .zone-body {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
    }
}
