.delivery-address-modal--dialog .MuiDialog-container .MuiDialog-paper {
    border-radius: 20px;
}

.delivery-address-modal--wrapper {
    padding: 50px;
    overflow-y: scroll;
    height: 100%;
}
.delivery-address-modal--wrapper h3 {
    margin: 0 5px 0 0;
}
.delivery-address-modal--title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.delivery-address-modal--town {
    display: flex;
    justify-content: end;
    align-items: center;
}

.delivery-address-modal--map-container {
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

@media (max-width: 899px) {
    .delivery-address-modal--dialog .MuiDialog-container .MuiDialog-paper {
        border-radius: 0;
    }
    .delivery-address-modal--map-container {
        border-radius: 0;
    }
}
