.standart-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-work,
.header-phone {
    color: black;
    display: flex;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}
.header-wrapper.one-type .header-phone {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.header-phone--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-work .icn,
.header-phone .icn {
    width: 28px;
    fill: var(--main-color);
    margin-right: 1rem !important;
}
.header-phone .title,
.header-work .title {
    color: #666;
}
.header-phone .info,
.header-work .info {
    font-weight: bold;
    font-size: 19px;
}
.header-phone .info {
    color: #000;
    text-decoration: none;
}

.header-phone .info:hover {
    text-decoration: underline;
}
@media (max-width: 991px) {
    .header-phone,
    .header-work {
        display: none;
    }
    .header-wrapper.one-type .header-phone {
        display: flex;
    }
}
@media (max-width: 899px) {
    .header-wrapper.one-type .header-phone {
        display: none;
    }
}

.header-logo-wrapper {
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-logo {
    width: auto;
    height: 50px;
    max-width: none;
    margin-right: 1.5rem !important;
}
.header-wrapper.one-type .header-logo {
    margin-right: 0 !important;
}

.header-logo-wrapper .header-logo-link {
    display: inline-block;
    height: 50px;
}

#root .header-bar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: white;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    position: relative;
}
.header-login {
    margin: auto auto auto 15px;
}
.header--right-col {
    display: flex;
    margin-left: auto;
}
.header-wrapper.one-type .header--right-col {
    margin-left: 0;
    min-width: 200px;
    justify-content: end;
    align-items: center;
}
.header-wrapper.one-type .header--right-col .header-login {
    margin: 0;
}

.header-phone .title .MuiSkeleton-text {
    display: inline-block !important;
    min-width: 50px !important;
    vertical-align: middle;
}
.header-work .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Верхнее меню */
.header-bar .MuiToolbar-root {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.top-menu ul {
    margin: 0;
    padding: 20px 25px 20px 0px;
    list-style: none;
}
.top-menu ul li {
    display: inline-block;
    padding: 0;
    margin: 0 22px 0 0;
}
.top-menu ul li a.active {
    color: var(--main-color);
}
.top-menu ul li a:hover {
    color: var(--main-color);
}
.top-menu ul li a {
    display: block;
    line-height: 1;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px dashed;
}
.top-menu .MuiSkeleton-text {
    margin: 20px 0 15px 0;
    height: 19px;
    display: block;
}

/* Шаги заказа */
.stepper-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.MuiStepper-root {
    min-width: 470px !important;
}
.step-label svg.Mui-active,
.step-label .Mui-completed {
    color: var(--main-color) !important;
}
.step-label .MuiStepLabel-label {
    margin-top: 2px !important;
}

/* Мобильная шапка */
.mobile-menu .MuiDrawer-paper {
    background: black;
    color: white;
}
.mobile-menu.white .MuiDrawer-paper {
    background: white;
    color: black;
}

.mobile-menu-wrapper {
    width: 350px;
}
.mobile-menu-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    background: black;
    padding: 10px 20px;
}
.mobile-menu.white .mobile-menu-wrapper ul {
    background: white;
}

.mobile-menu--user-account-button {
    padding: 20px 20px 10px 20px;
}
.mobile-menu-wrapper li:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.mobile-menu-wrapper li a {
    font-size: 22px;
    color: #fff;
    padding-left: 3px;
    text-decoration: none;
}
.mobile-menu.white .mobile-menu-wrapper li a {
    color: black;
}

.mobile-menu-wrapper li a:hover {
    color: var(--main-color);
}
.mobile-menu-wrapper {
    padding: 20px;
}
.mobile-menu--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mobile-menu-wrapper .header-work,
.mobile-menu-wrapper .header-phone {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 0 20px !important;
    padding: 10px 20px;
}
.mobile-menu.white .header-work,
.mobile-menu.white .header-phone {
    color: black;
}

.mobile-menu--contacts {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

.mobile-menu--contacts svg {
    width: 28px;
    fill: var(--main-color);
    margin-right: 1rem !important;
}

.mobile-menu--contacts a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.mobile-menu.white .mobile-menu--contacts a {
    color: black;
    font-weight: bold;
}

.modal-alert--wrapper.choose-town .modal-alert--inner button {
    width: 100%;
    padding: 0px !important;
}
.button--choose-town.mobile {
    display: none;
}
@media (max-width: 899px) {
    .header-wrapper.one-type .standart-header {
        justify-content: flex-end;
    }
    .header-mobile-menu {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .header-mobile-menu svg {
        width: 2rem;
        height: 2rem;
        color: black;
    }
    .header-wrapper {
        display: block !important;
        width: 100%;
        text-align: right;
    }
    .mobile-menu-wrapper .header-logo,
    .header-wrapper .header-logo {
        height: 100%;
        width: auto;
        max-height: 50px;
        margin-right: 0 !important;
    }
    .header-logo-wrapper {
        height: 56px;
    }
    .modal-alert--wrapper.choose-town .modal-alert--inner {
        min-width: 200px;
    }
    .modal-alert--wrapper.choose-town .modal-alert--title {
        text-align: center;
    }
    .button--choose-town.mobile {
        display: block;
        top: 7px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
