.product-grid-list{
    font-size: 0;
}
.product{
    border-radius: 15px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: white;
    padding: 20px;
}
.product.disabled{
    opacity: 0.5;
}
.product:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    z-index: 1;
    overflow: hidden;
    border-radius: 15px;
    transition: box-shadow .15s;
}
.product--image {
    position: relative;
    padding-bottom: 75%;
}
.product--image img{
    border-radius: 10px;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.product--image .placeholder img{
    width: 100%;
}
.product--image img, .product.open .product--image img{
    transition: transform 0.15s;
}
.product--title{
    position:relative;
    margin-top: 10px;
    margin-bottom: 0.75rem;
    font-size: 20px;
    font-weight: bolder;
    min-height: 50px;
    text-overflow: ellipsis;
}
.product--description{
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    color: #666;
    word-break: break-word;
}
.short-fade {
    position: relative;
    left: 0;
    right: 0;
    text-align: right;
    top: -10px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
.short-fade .action::before {
    cursor: pointer;
    position: relative;
    top: 15px;
    content: "Подробнее";
    color: var(--main-color);
    font-size: 13px;
    border-bottom: 1px dashed var(--main-color);
}
.product .product--image:hover, .product .product--title:hover, .product .product--description:hover{
    cursor: pointer;
}


.product--buying{
    margin-top: 1rem;
    text-align: right;
    position: relative;
    height: 40px;
}
.product--price {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.product--old-price{
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 14px;
}
.product--info{
    display: flex;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    line-height: 1;
}
.product--info .weight {
    position: relative;
    font-size: 14px;
    color: #aaa!important;
    margin-right: 10px;
}
.product--info .count-rolls {
    position: relative;
    font-size: 14px;
    color: #aaa!important;
}
.product--quantity{
    font-size: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
}
.product--quantity .product-decrease, 
.product--quantity .product-add {
    height: 32px!important;
    width: 32px!important;
    border-radius: 50% 0 0 50%;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    border: 0;
    color: #999;
    background: #f3f3f7;
    font-size: 16px;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
}
.product--quantity .product-add{
    border-radius: 0 50% 50% 0;
}
.product--quantity .product-decrease{
    border-radius: 50% 0 0 50%;
}
.product--quantity .product-decrease:hover, 
.product--quantity .product-add:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: white;
}
.change-quanity.modal-change-quantity .product-decrease:hover, .change-quanity.modal-change-quantity .product-add:hover{
    background: var(--sec-color);
    border-color: var(--sec-color);
}
.product--quantity .quantity {
    width: 34px;
    display: inline-block;
    height: 32px;
    border: 0;
    font-size: 14px;
    color: black;
    font-weight: 500;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 0;
    vertical-align: middle;
    background: #f3f3f7;
    outline: none!important;
}
.product--labels-wrapper {
    position: absolute;
    font-size: 13px;
    z-index: 1;
    display: flex;
}

.product--label.peoples svg {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
}
.product--label {
    background: #f3f3f7;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin: 0 5px 5px 0;
    display: inline-flex;
    align-items: center;
}
.product--label.hit{
    background: #fbcd00;
}
.product--label.new{
    background: #ea1b14;
    color: white;
}
@media (max-width: 1050px) {
    .product{
        width: 33%;
    }
}

@media (max-width: 899px) {
    .product{
        padding: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
        box-shadow: none;
        display: flex;
        border-radius: 0;
    }
    .product-grid-list .product {
        margin-bottom: 20px!important;
        border-bottom: 1px solid #eee;
        border-radius: 0;
        padding: 0 0 25px;
        width: 100%;
    }
    .product-grid-list .product:last-child{
        border-bottom: none!important;
    }
    .product .product--image {
        min-width: 150px!important;
        margin-right: 15px;
        width: 150px;
        padding: 0;
    }
    .product .product--image img{
        border-radius: 10px;
        position: initial;
        max-width: 100%;
        max-height: 100%;
        bottom: auto;
        left: 0;
        transform: translate(0);
    }
    .product--labels-wrapper{
        display: block;
        width: 150px;
    }
    .product--label{
        display: inline-block;
    }
    .product--title{
        white-space: normal;
        margin-top: 0;
    }
    .product--inner-wrapper{
        width: 100%;
        
    }
    .product:hover{
        box-shadow: none;
    }
    .product--quantity .product-decrease, 
    .product--quantity .product-add {
        height: 28px!important;
        width: 28px!important;
    }
    .product--quantity .quantity {
        width: 28px;
        display: inline-block;
        height: 28px;
    }
}