.reccomend-slide {
    display: flex;
    height: auto !important;
}
.recommend-product {
    font-size: 14px;
    width: 100%;
    overflow: initial;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: none !important;
}
.recommend-product .product-image {
    width: 110px;
    margin-right: 15px;
}
.recommend-product .right-block {
    padding-bottom: 55px;
    width: 100%;
    position: relative;
}
.recommend-product .product-image img {
    width: 100%;
}
.recommend-product .product--price {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
}
.recommend-product .product--quantity {
    position: relative;
    text-align: left;
}
.recommend-product .btn--outline.btn-buy {
    border-radius: 5px !important;
    font-size: 14px !important;
    padding: 8px 15px !important;
    line-height: 1;
    border-radius: 15px !important;
    width: 100%;
}
@media (max-width: 899px) {
    .recommend-product .quantity {
        width: calc(100% - 64px);
    }
    .recommend-product {
        display: block;
    }
    .recommend-product .right-block {
        position: initial;
    }
}
